# {{ ansible_managed }}

# Send mail messages about unauthorized DHCP servers
alert_program_name2 {{ ansible_local.root.lib + "/dhcp-probe/dhcp_probe_notify2" }}

{% if boss__dhcpd__probe_legal_servers|d() and boss__dhcpd__probe_legal_servers %}
# Legal DHCP servers
{% for address in boss__dhcpd__probe_legal_servers %}
legal_server {{ address }}
{% endfor %}

{% endif %}
{% if boss__dhcpd__probe_options|d() and boss__dhcpd__probe_options %}
# Other options
{{ boss__dhcpd__probe_options }}

{% endif %}
